body {
    background-color: black;
}

#buscar {
    margin-top: 5%; 
}

#bloco {
    color: white;
    margin-bottom: 15px;
    padding-top: 10px;
    /*background-color: aqua;*/
}

p {
   color: white;   
   width: 85px;
   height: 48px;
   background-color: green;
   text-align: right;
   padding-top: 2%;
   padding-right: 5px;
   margin-left: auto;
   font-size: 18px;
}

#statusDeceased p {
    color: white;   
    width: 85px;
    height: 48px;
    background-color: orange;
    text-align: right;
    padding-top: 2%;
    padding-right: 5px;
    margin-left: auto;
    font-size: 16px;
}

#statusPresumed p {
    color: white;   
    width: 85px;
    height: 48px;
    background-color: purple;
    text-align: right;
    padding-right: 5px;
    margin-left: auto;
    font-size: 16px;
    padding-top: 0%;
}

h2 {
    color: white;
}

h3 {
    font-size: 16px;
    color: white;
    padding-top: 10px;
}

h4 {
    font-size: 18px;
    margin-top: 55%;
}

h5 {
    font-size: 13px;
}

h6 {
    font-size: 12px;
}

h4, h5, h6 {
    padding-left: 10px;
    padding-right: 5px;
}

.my-pagination /deep/ .ngx-pagination .pagination-next a{
    color: white;
}

.my-pagination /deep/ .ngx-pagination .pagination-previous a{
    color: white;
}

.my-pagination /deep/ .ngx-pagination span {
    color:white;
}

.my-pagination /deep/ .ngx-pagination {
    min-height: 50px;
}