body {
    background-color: black;
    color: white;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

#titulo h2, h5{
    text-align: center;
    margin-bottom: 50px;
}

td {
    width: 350px;
}

hr {
    border: 2px solid rgb(2, 2, 97);
    border-radius: 6px;
    margin-top: 20px;
}

input {
    margin-bottom: 35px;
    height: 34px;
}

.my-pagination /deep/ .ngx-pagination .pagination-next a{
    color: white;
}

.my-pagination /deep/ .ngx-pagination .pagination-previous a{
    color: white;
}

.my-pagination /deep/ .ngx-pagination span {
    color:white;
}