<body>
  <div class="container">    
    <div class="formularioSugestao">
      <form (ngSubmit)="enviarSugestao()" #form1="ngForm">       
        <label for="exampleFormControlInput1">Envie sua sugestão</label> 
        <div class="form-group">
          <input name="autor" [(ngModel)]="autor" type="text" class="form-control" placeholder="Autor">
        </div>
        <div id="msg" class="form-group">
          <input  name="mensagem" [(ngModel)]="mensagem" type="text" class="form-control"  placeholder="Mensagem">
        </div>
        <h5>
          <button class="btn btn-outline-success" type="submit" (onclick)="enviarSugestao()">Enviar</button>
        </h5> 
      </form>
    </div>
  </div>
</body>